<%- include('../partials/header') %>
<a class="active" href="/showcases">All Showcases</a>
<h1>SHOWCASE DETAILS</h1>
<div><strong>HEADLINER: </strong><%= showcase.headliner %></div>
<div><strong>TOUR: </strong><%= showcase.tour %></div>
<div><strong>OPENING ACTS: </strong><%= showcase.openingActs %></div>
<div><strong>VENUE: </strong><%= showcase.venue %></div>
<div><strong>DATE: </strong><%= showcase.date %></div>

<h4>Delete Showcase</h4>
<form action = "/showcases/<%= showcase._id %>?_method=DELETE" class = "delete-form" method = "POST">
<button type="submit">X</button>
</form>
<%- include('../partials/footer') %>